---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../sections/AboutMe.astro";
import HomePage from "../sections/HomePage.astro";
import Projects from "../sections/Projects.astro";

export const prerender = true;
---

<Layout title="eduardogdebem">
  <section id="home-page" class="pb-8">
    <HomePage />
  </section>
  <section id="about-me" class="pb-8">
    <AboutMe />
  </section>
  <section id="projects" class="pb-8">
    <Projects />
  </section>
</Layout>

<style>
  section {
    padding-top: 60px;
    margin-top: -60px;
  }
</style>
