---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import AboutMe from "../sections/AboutMe.astro";
import Contact from "../sections/Contact.astro";
import HomePage from "../sections/HomePage.astro";
import Projects from "../sections/Projects.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <section id="home-page" class="pb-8">
    <HomePage />
  </section>
  <section id="about-me" class="pb-8">
    <AboutMe />
  </section>
  <section id="projects" class="pb-8">
    <Projects />
  </section>
  <section id="contact">
    <Contact />
  </section>
</Layout>
