---

---

<footer class="bg-gray text-vanila rounded-lg p-20 max-sm:p-10" id="footer">
  <h2 class="text-4xl font-bold text-vanila-bright mb-2">Contact me</h2>
  <ul>
    <li class="duration-100 hover:text-vanila-bright">
      <a
        href="https://www.linkedin.com/in/eduardo-goulart-de-bem-a60a3b216"
        target="_blank"
        ><i class="fa-brands fa-linkedin"></i> &#x2022 Eduardo Goulart de Bem</a
      >
    </li>
    <li class="duration-100 hover:text-vanila-bright">
      <a href="mailto:eduardogdebem@gmail.com"
        ><i class="fa-solid fa-envelope"></i> &#x2022 eduardogdebem@gmail.com</a
      >
    </li>
    <li class="duration-100 hover:text-vanila-bright">
      <a href="https://github.com/eduardodgdebem" target="_blank"
        ><i class="fa-brands fa-github"></i> &#x2022 eduardodgdebem</a
      >
    </li>
  </ul>
</footer>
