---

---

<header
  class="sticky z-50 top-0 p-[1rem_0] bg-vanila-bright text-gray-dark font-medium"
>
  <ul class="flex justify-end gap-5 max-sm:text-sm max-sm:gap-0 max-sm:justify-between">
    <li>
      <a
        href="#"
        class="p-2 rounded-lg duration-100 hover:bg-gray hover:text-vanila-bright"
        >Home</a>
    </li>
    <li>
      <a
        href="#about-me"
        class="p-2 rounded-lg duration-100 hover:bg-gray hover:text-vanila-bright"
        >About me</a>
    </li>
    <li>
      <a
        href="#projects"
        class="p-2 rounded-lg duration-100 hover:bg-gray hover:text-vanila-bright"
        >Projects</a>
    </li>
    <li>
      <a
        href="#contact"
        class="p-2 rounded-lg duration-100 hover:bg-gray hover:text-vanila-bright"
        >Contact</a
      >
    </li>
  </ul>
</header>
