---

---

<main class="rounded-lg overflow-hidden bg-purple " id="main-home-page">
  <div class="relative">
    <h1 class="z-20 absolute font-black text-9xl text-vanila-bright outline-2 ml-10 top-[50%] translate-y-[-50%] max-sm:text-7xl max-sm:ml-5">
      Eduardo<br /> de Bem
    </h1>
    <canvas class="h-full w-full max-h-[25rem] z-0" id="main-canvas"> </canvas>
  </div>
</main>

<script is:inline src="/perlinJs.js"></script>